@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

:root {
    /* font-size */
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-30: 30px;
    --font-size-34: 34px;
    --font-size-36: 36px;
    --font-size-40: 40px;
    --font-size-44: 44px;
    --font-size-48: 48px;
    --font-size-50: 50px;
    --font-size-54: 54px;
    --font-size-64: 64px;
    /* color */
    --color-yellow: #D2DA60;
    --color-purple: #9003E5;
    --color-voilet: #8A3E74;
    --color-black: #000000;
    --color-btn-gradient: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    --color-blue: #010080;
    --color-white: white;
    --color-gradient-2: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
}

.nav-bar {
    position: fixed;
    background: var(--color-yellow);
    z-index: 5;
}

.nav-items {
    font-family: "Poppins", sans-serif !important;
    font-size: var(--font-size-18) !important;
    font-weight: 400;
    line-height: 27px;
    /* text-align: left; */
    color: var(--color-purple) !important;
}

.bg-image-1 {
    background-image: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.splash-font {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-voilet);
}

.bring-txt {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-36);
    font-weight: 500;
    line-height: 54px;
    /* text-align: left; */
    color: var(--color-black);
}

.color-btn {
    padding: 13px 45px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    border: 4px solid;
    border-image: var(--color-btn-gradient)1;
    background: #D7E167;
    background: var(--color-btn-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* .color-btn:hover{
    color: var(--color-black);
    background: var(--color-gradient-2);
    border: 4px solid ;
} */
.pt-115 {
    padding-top: 115px;
}

.mt-180 {
    margin-top: 180px;
}

.mt-80 {
    margin-top: 80px;
}

.red-splash {
    right: 0%;
    top: 5%;
}

.orange-splash {
    bottom: -25%;
}

.dot-1 {
    height: 653px;
    position: absolute;
    border: 1px dashed black;
    left: 33%;
}

.mt-140 {
    margin-top: 140px;
}

.dot-2 {
    height: 653px;
    position: absolute;
    border: 1px dashed black;
    right: 33%;
}

.dot-3 {
    width: 1308px;
    position: absolute;
    border: 1px dashed black;
    right: 0%;
    top: 65%;
}

.chose-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 700;
    line-height: 72px;
    text-align: left;
}

.heading-2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    /* text-align: left; */
}

.mt-54 {
    margin-top: 54px;
}

/* ------------------------------------------ */
/* .nav-items {
    position: relative;
    transition: color 0.1s;
}

.nav-items:hover {
    color: #9104E5;
    animation: magicTypeAnimation 1s infinite alternate;
} */

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;
}

.mb-40 {
    margin-bottom: 40px;
}

.gallery-images {
    height: 320px !important;
}

.mt-negative {
    margin-top: -7px;
}

.slider-1-img {
    position: relative;
}

.image-before-layer {
    background: #00000099;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    cursor: pointer;
}

.slider-layer-border {
    border: 4px solid;
    border-image-source: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    border-image-slice: 1;
    border-image-width: 4px;
}


.slider-1-img:hover .image-before-layer {
    opacity: 100%;
}

.decons-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-36);
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    color: var(--color-white);
}

.slider-layer-para {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: var(--color-white);
}

.welcome-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-48);
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    color: var(--color-black);
}

.lorem-para-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    opacity: 70%;
    color: var(--color-black);
}

.sec-4-col-para {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: var(--color-black);
}

.gap-10 {
    gap: 10px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.transition-none {
    transition: none !important;
}

.welcome-left {
    left: 0;
    top: -2%;
}

.welcome-left {
    opacity: unset;
}

.welcome-right {
    right: 0;
    top: 50%;
}

.welcome-right {
    opacity: unset;
}

.mt-115 {
    margin-top: 115px;
}

.mt-md-80 {
    margin-top: 80px;
}

.sec-5-font {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: var(--color-black);
}

.col-5-imgbox {
    position: relative;
    z-index: 1;
}

.img-z-index {
    position: relative;
    z-index: 1;
}

.col_xl_2 div img[alt="lines"] {
    display: none;
}

.readmore {
    padding: 8px 25px 8px 25px;
    background-color: var(--color-darkblue);
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27px;
    color: var(--color-white);
    border: 1px solid #010080;
    border-radius: 4px;
    background-color: #010080;
}

.readmore:hover {
    background-color: var(--color-white);
    color: #010080;
}


.sec-6-card-para {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    max-width: 471px;
}


.mt-30 {
    margin-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.sec-6-position-img-1 {
    left: 14%;
    top: -27%;
}

.sec-6-position-img-2 {
    top: -68%;
    right: 6%;
}

.sec-6-position-img-3 {
    top: -82%;
    left: 6%;
}

@media (min-width:1600px) {

    .sec-5-font {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-24);
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        color: var(--color-black);
    }

    .sec_5_position {
        position: relative;
        bottom: -134%;
    }

    .position_row {
        width: 90%;
        position: relative;
        left: 5%;
    }

    .sec_5_position_img1 {
        position: absolute;
        bottom: -123% !important;
        left: 0 !important;
    }

    .position-img-1 {
        transform: rotate(10deg) !important;
    }

    .sec_5_position_img2 {
        position: absolute;
        bottom: 65% !important;
        left: 9% !important;

    }

    .position-img-3 {
        transform: rotate(10deg) !important;
    }

    .sec_5_position_img3 {
        position: absolute;
        bottom: -129% !important;
        left: 0 !important;
    }

    .sec_5_position_img4 {
        position: absolute;
        top: -105% !important;
        left: 11% !important;
    }

    .sec_5_position_img5 {
        position: absolute;
        bottom: -132% !important;
        left: 2% !important;
    }

    .sec_5_position_img6 {
        position: absolute;
        top: -105% !important;
        left: 11% !important;
    }

    .position-img-5 {
        transform: none !important;
    }

    .xxxl-pb-436 {
        padding-bottom: 436px !important;
    }

    .sec-6-card::after {
        content: "";
        position: absolute;
        background: #EEEEEE;
        width: 91% !important;
        height: 370px;
        right: 0;
        top: 26%;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .sec-6-card-2::after {
        content: "";
        position: absolute;
        background: #EEEEEE;
        width: 91% !important;
        height: 370px;
        left: 0;
        top: 26%;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}

@media (min-width:1400px) {
    .sec_5_position {
        position: relative;
        bottom: -134% !important;
    }

    .position_row {
        width: 90%;
        position: relative;
        left: 5%;
    }

    .xxl-position-unset {
        position: unset !important;
    }

    .sec_5_position_img1 {
        position: absolute;
        bottom: -129%;
        left: 0;
    }

    .position-img-1 {
        transform: rotate(10deg);
    }

    .sec-2-position-right {
        opacity: 40%;
    }

    .sec_5_position_img2 {
        position: absolute;
        bottom: 40%;
        left: 2%;

    }

    .position-img-3 {
        transform: rotate(10deg);
    }

    .sec_5_position_img3 {
        position: absolute;
        bottom: -150%;
        left: 0;
    }

    .sec_5_position_img4 {
        position: absolute;
        top: -105%;
        left: 11%;
    }

    .sec_5_position_img5 {
        position: absolute;
        bottom: -158%;
        left: 2%;
    }

    .position-img-5 {
        transform: rotate(10deg);
    }

    .sec_5_position_img6 {
        position: absolute;
        top: -105%;
        left: 11%;
    }

    .col_xl_2 div img[alt="lines"] {
        display: unset;
    }

    .flex-xxl-column {
        flex-direction: column;
    }


    .xxl-mt-120 {
        margin-top: 120px;
    }

    .xxl-pb-80 {
        padding-bottom: 80px;
    }

    .sec-6-card-heading {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-48);
        font-weight: 500;
        line-height: 72px !important;
        text-align: left;
    }

    .sec-6-card-heading-blue {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-64);
        font-weight: 700;
        line-height: 96px !important;
        text-align: left;
        color: #010080;
    }

    .sec-6-card-para {
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-18);
        font-weight: 400;
        line-height: 27px !important;
        text-align: left;
        max-width: 471px;
    }

}

@media (min-width:1200px) {
    .sec_5_position {
        position: relative;
        bottom: -90%;
    }

    .position_row {
        width: 90%;
        position: relative;
        left: 5%;
    }

    .sec_5_position_img1 {
        position: absolute;
        bottom: -129%;
        left: 0;
    }

    .position-img-1 {
        transform: rotate(10deg);
    }

    .sec_5_position_img2 {
        position: absolute;
        bottom: 40%;
        left: 2%;

    }

    .position-img-3 {
        transform: rotate(10deg);
    }

    .sec_5_position_img3 {
        position: absolute;
        bottom: -150%;
        left: 0;
    }

    .sec_5_position_img4 {
        position: absolute;
        top: -105%;
        left: 11%;
    }

    .sec_5_position_img5 {
        position: absolute;
        bottom: -158%;
        left: 2%;
    }

    .position-img-5 {
        transform: rotate(10deg);
    }

    .sec_5_position_img6 {
        position: absolute;
        top: -105%;
        left: 11%;
    }

    .col_xl_2 {
        width: 14.28%;
    }

    .xxl-pb-300 {
        padding-bottom: 306px;
    }

}

@media (max-width:991.1px) {
    .menubox {
        width: 35px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 1;
    }

    .menubox span {
        height: 3px;
        width: 100%;
        background: var(--color-white);
        border-radius: 10px;
    }

    .nav_items {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: var(--color-green);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .active {
        left: 0;
    }

    .sec-2-position-left {
        opacity: 40%;
    }

    .sec-2-position-right {
        opacity: 40%;
    }

    .sec-6-position-img-1 {
        opacity: 50%;
    }
}